.color-wrapper
    padding: 1em
    margin: 1em
    height: 6em
    color: nord4

    .color-picker-wrapper
        display: flex
        margin-top: 0.5em
        justify-content: start
        align-items: center
        border-radius: 10px
        width: fit-content
        box-shadow: -1px 0px 5px -1px rgba(236, 239, 244, .2)